{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h3><strong>{{ .Site.Params.author }}, PT, OCS, Cert. MDT, TPS</strong></h3>
        <h3>+35 years of experience in out-patient physical therapy rehabilitation</h3>
        <h3>Physical Therapy clinic now open at:</h3>
        <h3>417 Montier Rd Glenside, PA 19038</h3>
        <h3>For references please view <a href="{{ .Site.BaseURL }}projects/"> testimonials</a>.</h3>
        <h3>For further information please consult my <a href="{{ .Site.BaseURL }}vitae/">resume</a>.</h3>
        <h3>For an appointment or inquiry, contact me by email at <a href="mailto:{{ .Site.Params.Social.Email }}">frank.a.angiolillo@gmail.com</a> or call (215) 512-4655</h3>
        <h3>Fax: (215) 690-4552</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
